# Default ignored files
/shelf/
/workspace.xml
# Ignored default folder with query files
/queries/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/

.classRoom
.listing2.js
.review2.js
.user2.js
.app
.app2
.app3
.app4
.app5
.app6
.app7
.app8
.app9
node_module/